<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/site.css">
    <link rel="stylesheet" href="/static/inputs.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <link rel="stylesheet" href="/static/login2.css">
    <link rel="stylesheet" href="/static/navbar2.css">
    <script src='/static/position.js'></script>
    <script src='/static/burgermenu.js'></script>
    <title>Login</title>
</head>

<body>
    <div class="navbar">
        <div class="topnav-right">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        </div>
        <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
        <div id="mySidepanel" class="sidepanel">
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
            <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
            <a href="{{ url_for('classes') }}" class="navbar-item">Classes</a>
            <div class="dropdown">
                <a href="{{ url_for('login') }}" class="dropbtn">Agenda</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('calendar') }}">Calendar</a>
                    <a href="{{ url_for('checklist') }}">Checklist</a>
                </div>
            </div>
        </div>
    </div>
    <div class = "container">
        <p>
                Mangrove makes it easy to stay organized and focused, so you can achieve more than you ever thought possible. 
            Much like how gardeners carefully manage the growth and structure of plants by pruning and maintaining their roots, 
            Mangrove can keep your tasks organized, easily accessible, and under control, even when they become complex and overwhelming.
            Use Mangrove today.
        </p> 
    </div>
      
</body>

</html>


