<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Calendar</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.css" />
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
        <link rel="stylesheet" href="/static/dropdown.css">
        <link rel="stylesheet" href="/static/navbar2.css">
    <script src='/static/burgermenu.js'></script>
    <script src='/static/position.js'></script>

        
    </head>

    <body>
        <div class="navbar">
            <div class="topnav-right">
                <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            </div>
            <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
            <div id="mySidepanel" class="sidepanel">
                <a href="{{ url_for('about') }}" class="navbar-item">About</a>
                <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
                <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
                <div class="dropdown">
                    <a href="{{ url_for('login') }}" class="dropbtn">Agenda</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('calendar') }}">Calendar</a>
                        <a href="{{ url_for('checklist') }}">Checklist</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="calendarcss">
        <div id="calendar">
            <script>
                let calendarElement = document.getElementById
                ('calendar');

                let calendar = new FullCalendar.Calendar
                (calendarElement, {
                    events : [
                        {% for event in events %}
                        { 
                            title : '{{event.todo}}',
                            start : '{{event.date}}',
                            
                        },
                        {% endfor %}
                    ]
                    }  
                );

                calendar.render();
            </script>
            <hr/>
            <footer>
                <p>&copy; Mangrove 2023</p>
            </footer>
        </div>
    </div>
    </div>
    </body>
</html>