<!DOCTYPE html>
<html lang = "en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/site.css">
        <link rel="stylesheet" href="/static/checklist.css">
        <link rel="stylesheet" href="/static/dropdown.css">
        <link rel="stylesheet" href="/static/navbar2.css">
        <script src='/static/burgermenu.js'></script>
        <script src='/static/position.js'></script>
        <title>Checklist</title>
</head>
<body>
  <div class="navbar">
    <div class="topnav-right">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> 
    <div id="mySidepanel" class="sidepanel">
        <a href="{{ url_for('about') }}" class="navbar-item">About</a>
        <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
        <a href="{{ url_for('register') }}" class="navbar-item">Register</a>
        <a href="{{ url_for('classes') }}" class="navbar-item">Classes</a>
        <div class="dropdown">
            <a href="{{ url_for('login') }}" class="dropbtn">Agenda</a>
            <div class="dropdown-content">
                <a href="{{ url_for('calendar') }}">Calendar</a>
                <a href="{{ url_for('checklist') }}">Checklist</a>
            </div>
        </div>
    </div>
</div>
    <div class = "centeredchecklist">
    <h1>Checklist</h1>
    <form id="form">
      <input type="text" class="input" id="input" placeholder="Enter a task" autocomplete="off">
      <ul class="todos" id="todos"></ul>
    </form>
    <br>
    <small>Left click to toggle completed. <br> Right click to delete the task</small>
  </div>
    <script src="/static/script.js"></script>
  </body>
</html>
